* {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(0 0 0);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

thead th:first-child {
  border-bottom: none;
}

tbody th[rowspan] {
  border-top: none;
}

caption {
  border: 1px solid rgb(0 0 0);
  border-bottom: none;
  padding: 10px;
  font-weight: bold;
}


td, th {
  border: 1px solid rgb(0 0 0);
  padding: 10px 20px;
}


td {
  text-align: center;
}

td[colspan="5"] {
  font-weight: bold;
}
